<div class="filter-toolbar">
  <div class="filter-toolbar-backward">
    <button mat-icon-button [disabled]="currentFilterSectionConfig === filterSectionConfigs[0]" (click)="previousSection()">
      <mat-icon>arrow_back</mat-icon>
    </button>
  </div>
  <div class="filter-toolbar-title">
    {{ currentFilterSectionConfig?.filterDefinition?.identifier }}
  </div>
  <div class="filter-toolbar-forward">
    <button
      mat-icon-button
      (click)="nextSection()"
      *ngIf="currentFilterSectionConfig !== filterSectionConfigs[filterSectionConfigs.length - 1]"
    >
      <mat-icon>arrow_forward</mat-icon>
    </button>
    <button
      mat-raised-button
      color="accent"
      (click)="search()"
      *ngIf="currentFilterSectionConfig === filterSectionConfigs[filterSectionConfigs.length - 1]"
    >
      Search for Results
    </button>
  </div>
</div>

<div class="filter-section-container">
  <ng-template layoutHost></ng-template>
</div>
