<div class="mb-3 pb-3">
  <div style="display: flex; justify-content: space-between; align-items: center; flex-wrap: wrap">
    <div class="display: flex; justify-content: flex-end; align-items: center; flex-wrap: wrap;">
      <button
        class="my-1 me-2"
        mat-raised-button
        color="primary"
        (click)="editAddItem()"
      >
        Add New
      </button>
      <button
        class="my-1"
        mat-raised-button
        color="warn"
        [disabled]="activeView?.selectedItems?.length === 0 ?? true"
        (click)="deleteSelectedItems()"
      >
        Delete Selected
      </button>
    </div>
  </div>
  <mat-divider class="my-2"></mat-divider>
  <div class="table-overflow">
    <router-outlet (activate)="activateView($event)" (deactivate)="deactivateView($event)"></router-outlet>
  </div>
</div>
