<div class="template__container" [class.mobile]="mobileQuery.matches">
  <mat-sidenav-container class="sidenav__container">
    <mat-sidenav
      #snav
      class="sidenav"
      [mode]="mobileQuery.matches ? 'over' : 'side'"
      [opened]="true"
      [fixedInViewport]="mobileQuery.matches"
    >
      <div class="sidenav__inner">
        <div class="sidenav__header">
          <span class="sidenav__header__title">{{ title }}</span>
        </div>
        <div class="sidenav__nav">
          <mat-nav-list class="sidenav__nav__list">
            <mat-list-item *ngFor="let nav of fillerNav">
              <a matLine routerLink=".">{{ nav }}</a>
            </mat-list-item>
          </mat-nav-list>
        </div>
      </div>
    </mat-sidenav>

    <mat-sidenav-content class="sidenav__content">
      <div class="container p-3">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
