<div class="template__container" [class.mobile]="mobileQuery.matches">
  <mat-sidenav-container class="sidenav__container">
    <mat-sidenav
      #sidenav
      class="sidenav"
      [mode]="mobileQuery.matches ? 'over' : 'side'"
      [opened]="true"
      [fixedInViewport]="mobileQuery.matches"
    >
      <div class="sidenav__header mat-primary">
        <img class="header-logo" src="/assets/angular.svg" />
        <h2 class="header-title ms-2">{{ appName }}</h2>
      </div>
      <div class="sidenav__inner">
        <div class="sidenav__nav">
          <mat-nav-list class="sidenav__nav__list">
            <mat-list-item class="sidenav__nav__list__item" *ngFor="let item of menu">
              <mat-icon class="material-icons-outlined me-2" color="primary" *ngIf="item.logo">
                {{ item.logo }}
              </mat-icon>
              <a [routerLink]="item.url">{{ item.label }}</a>
            </mat-list-item>
          </mat-nav-list>
        </div>
      </div>
    </mat-sidenav>

    <mat-sidenav-content class="sidenav__content">
      <header class="header">
        <mat-toolbar class="header__toolbar" color="primary" [ngClass]="{ 'header__toolbar--opened': sidenav.opened }">
          <button mat-icon-button (click)="sidenav.toggle()">
            <mat-icon class="material-icons-outlined">{{ sidenav.opened ? 'chevron_left' : 'view_sidebar_outlined' }}</mat-icon>
          </button>

          <h1 class="header-title ms-2">{{ pageName }}</h1>
        </mat-toolbar>
      </header>

      <main class="main">
        <div class="container p-3">
          <router-outlet></router-outlet>
        </div>
      </main>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
