@use 'sass:map';
@use './variables' as variables;

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 500 !important;

  &[color=primary] {
    color: map-get(variables.$primary-palette, 500);
  }

  &[color=accent] {
    color: map-get(variables.$accent-palette, 500);
  }

  &[color=warn] {
    color: map-get(variables.$warn-palette, 500);
  }
}
