<form class="w-100" autocomplete="off" [formGroup]="formGroup">
  <div class="row my-1">
    <div class="col-md my-1">
      <app-file-select-input
        class="w-100"
        label="Document"
        valueProperty="id"
        contentProperty="name"
        [control]="formGroup.controls['documentId']"
        [data]="(documents$ | async)!"
        (preview)="previewDocument($event)"
      ></app-file-select-input>
    </div>

    <div class="col-md my-1">
      <mat-form-field class="w-100" appearance="fill">
        <mat-label>Title</mat-label>

        <input
          matInput
          type="text"
          aria-label="Title text field."
          formControlName="title"
        />

        <mat-error>
          Field is required.
        </mat-error>
      </mat-form-field>
    </div>
  </div>

  <div class="row my-1">
    <div class="col-md my-1">
      <mat-form-field class="w-100" appearance="fill">
        <mat-label>Description</mat-label>

        <textarea
          matInput
          cdkTextareaAutosize
          cdkAutosizeMinRows="2"
          cdkAutosizeMaxRows="5"
          aria-label="Description textarea input."
          formControlName="description"
        ></textarea>
      </mat-form-field>
    </div>
  </div>
</form>
