<form class="w-100" autocomplete="off" [formGroup]="formGroup">
  <div class="row my-1">
    <div class="col-md my-1">
      <mat-form-field class="w-100" appearance="fill">
        <mat-label>Document</mat-label>

        <mat-select
          aria-label="Document selection field."
          formControlName="documentId"
        >
          <mat-option [value]="null">--</mat-option>
          <mat-option [value]="document.id" *ngFor="let document of (documents$ | async)">
            {{ document.name }}
          </mat-option>
        </mat-select>

        <mat-error>
          Field is required.
        </mat-error>
      </mat-form-field>
    </div>

    <div class="col-md my-1">
      <mat-form-field class="w-100" appearance="fill">
        <mat-label>Title</mat-label>

        <input
          matInput
          type="text"
          aria-label="Title text field."
          formControlName="title"
        />

        <mat-error>
          Field is required.
        </mat-error>
      </mat-form-field>
    </div>
  </div>

  <div class="row my-1">
    <div class="col-md my-1">
      <mat-form-field class="w-100" appearance="fill">
        <mat-label>Description</mat-label>

        <textarea
          matInput
          cdkTextareaAutosize
          cdkAutosizeMinRows="2"
          cdkAutosizeMaxRows="5"
          aria-label="Description textarea input."
          formControlName="description"
        ></textarea>
      </mat-form-field>
    </div>
  </div>
</form>
