<ng-content></ng-content>

<auto-table
  [data]="selectionData ?? []"
  (sortChange)="sortChange.emit($event)"
>
  <ng-container autoColumnDef="options" header="" [sortable]="false" *ngIf="!!adminMenuDirective">
    <ng-container *autoDataCellOverride="let cell">
      <button mat-icon-button [disableRipple]="true" [matMenuTriggerFor]="menu" (click)="$event.stopPropagation()">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <ng-container *adminDataTableMenuOutlet="adminMenuDirective; cell: cell"></ng-container>
      </mat-menu>
    </ng-container>
  </ng-container>

  <ng-container autoColumnDef="select" header="" [sortable]="false">
    <ng-container *autoDataCellOverride="let cell">
      <mat-checkbox
        [checked]="cell.selected"
        [disableRipple]="true"
        (click)="$event.stopPropagation(); $event.preventDefault(); toggleItem(cell)"
      ></mat-checkbox>
    </ng-container>
  </ng-container>

  <ng-container [autoColumnDef]="column.property" [header]="column.title" *ngFor="let column of columns">
    <ng-container *autoDataCellOverride="let cell">
      <span [innerHTML]="cell | autoPropertyValue : column.property"></span>
    </ng-container>
  </ng-container>

  <mat-paginator
    autoPaginator
    [controlManually]="true"
    [length]="paginatorLength"
    [pageIndex]="pageIndex"
    [pageSize]="pageSize"
    [pageSizeOptions]="[10, 25, 50]"
    (page)="paginatorInteracted($event)"
  ></mat-paginator>
</auto-table>
