<div class="anatomy my-2" @fadeInOut>
  <h2 class="my-0 d-none" color="accent">Anatomy Details</h2>
  <img class="anatomy-img img-fluid mx-auto d-block border rounded" src="/assets/annotated_cope_cropped.jpg" alt="Anatomy Details Image" />
</div>

<mat-divider @fadeInOut></mat-divider>

<div class="definitions my-2" @fadeInOut>
  <h2 class="my-0 d-none" color="accent">Definitions</h2>
  <div class="row justify-content-center">
    <ng-container *ngFor="let definition of (definitions$ | async); let index = index;">
      <div class="col-md-auto" @slideFadeUp>
        <app-info-card
          class="my-2"
          color="accent"
          contentProperty="meaning"
          headerProperty="name"
          [copyContent]="true"
          [copyHeader]="true"
          [data]="definition"
          (titleCopied)="copyToClipboard($event)"
          (contentCopied)="copyToClipboard($event)"
        ></app-info-card>
      </div>
    </ng-container>
  </div>
</div>
