<div class="d-flex align-items-center" *ngIf="!!control">
  <div style="padding-bottom: 1.34375em" class="me-1 preview-button">
    <button mat-icon-button [color]="color" [disabled]="control.invalid" (click)="previewFile()">
      <mat-icon>visibility</mat-icon>
    </button>
  </div>

  <mat-form-field class="w-100" [color]="color" [appearance]="appearance">
    <mat-label>{{ label ?? null }}</mat-label>

    <mat-select [aria-label]="ariaLabel ?? ''" [formControl]="$any(control)">
      <mat-option [value]="null">--</mat-option>

      <ng-container *ngFor="let item of data">
        <mat-option [value]="item[valueProperty]" *ngIf="!!valueProperty && !!contentProperty">
          {{ item[contentProperty] }}
        </mat-option>
      </ng-container>
    </mat-select>

    <mat-error *ngIf="!!control.errors">
      Field is required.
    </mat-error>
  </mat-form-field>
</div>
