<mat-stepper
  orientation="vertical"
  linear="false"
  [color]="color"
>
  <mat-step *ngFor="let section of sections">
    <ng-container *matStepLabel>{{ section.displayName }}</ng-container>
    <ng-container *matStepContent>
      <ng-container *filterStepOutlet="section; optionDef: filterStepOptionDef"></ng-container>

      <div class="d-flex align-items-center flex-wrap">
        <button mat-flat-button class="my-1 me-2" color="warn" (click)="previous()">Back</button>
        <button mat-flat-button class="my-1 me-2" color="primary" (click)="next()">Next</button>
      </div>
    </ng-container>
  </mat-step>
</mat-stepper>
