<form class="w-100" autocomplete="off" [formGroup]="formGroup">
  <!-- START Basic Information -->
  <app-admin-edit-section class="my-3" header="Basic Information">
    <div class="row">
      <div class="col-md my-1">
        <mat-form-field class="w-100 my-1" color="accent" appearance="fill">
          <mat-label>Genus</mat-label>

          <mat-select
            aria-label="Genus selection field."
            formControlName="genusId"
          >
            <mat-option [value]="null">--</mat-option>
            <mat-option [value]="genus.id" *ngFor="let genus of (genuses$ | async)">
              {{ genus.name }}
            </mat-option>
          </mat-select>

          <mat-error>
            Field is required.
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-md my-1">
        <mat-form-field class="w-100 my-1" color="accent" appearance="fill">
          <mat-label>Gender</mat-label>

          <mat-select
            aria-label="Gender selection field."
            formControlName="gender"
          >
            <mat-option [value]="null">--</mat-option>
            <mat-option [value]="enumSpecimenGender.Male">Male</mat-option>
            <mat-option [value]="enumSpecimenGender.Female">Female</mat-option>
          </mat-select>

          <mat-error>
            Field is required.
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-md my-1">
        <mat-form-field class="w-100 my-1" color="accent" appearance="fill">
          <mat-label>Length</mat-label>

          <input
            matInput
            type="number"
            step="0.1"
            aria-label="Length number field."
            formControlName="length"
          />

          <mat-error>
            Field is required.
          </mat-error>
        </mat-form-field>
      </div>
    </div>

    <div class="row">
      <div class="col-md my-1">
        <mat-form-field class="w-100 my-1" color="accent" appearance="fill">
          <mat-label>Special Characteristics</mat-label>

          <textarea
            matInput
            cdkTextareaAutosize
            cdkAutosizeMinRows="2"
            cdkAutosizeMaxRows="5"
            aria-label="Special Characteristics textarea input."
            formControlName="specialCharacteristics"
          ></textarea>

          <mat-error>
            Field is required.
          </mat-error>
        </mat-form-field>
      </div>
    </div>
  </app-admin-edit-section>
  <!-- END Basic Information-->

  <!-- START Antenule -->
  <app-admin-edit-section class="my-3" header="Antenule">
    <div class="row">
      <div class="col-md my-1">
        <mat-form-field class="w-100 my-1" color="accent" appearance="fill">
          <mat-label>Antenule</mat-label>

          <input
            matInput
            type="text"
            aria-label="Antenule text field."
            formControlName="antenule"
          />

          <mat-error>
            Field is required.
          </mat-error>
        </mat-form-field>
        <mat-form-field class="w-100 my-1" color="accent" appearance="fill">
          <mat-label>Description</mat-label>

          <textarea
            matInput
            cdkTextareaAutosize
            cdkAutosizeMinRows="2"
            cdkAutosizeMaxRows="5"
            aria-label="Antenule Description textarea input."
            formControlName="antenuleDescription"
          ></textarea>

          <mat-error>
            Field is required.
          </mat-error>
        </mat-form-field>
      </div>
    </div>
  </app-admin-edit-section>
  <!-- END Antenule -->

  <!-- START Rostrum -->
  <app-admin-edit-section class="my-3" header="Rostrum">
    <div class="row">
      <div class="col-md my-1">
        <mat-form-field class="w-100 my-1" color="accent" appearance="fill">
          <mat-label>Rostrum</mat-label>

          <input
            matInput
            type="text"
            aria-label="Rostrum text field."
            formControlName="rostrum"
          />

          <mat-error>
            Field is required.
          </mat-error>
        </mat-form-field>
        <mat-form-field class="w-100 my-1" color="accent" appearance="fill">
          <mat-label>Description</mat-label>

          <textarea
            matInput
            cdkTextareaAutosize
            cdkAutosizeMinRows="2"
            cdkAutosizeMaxRows="5"
            aria-label="Rostrum Description textarea input."
            formControlName="rostrumDescription"
          ></textarea>

          <mat-error>
            Field is required.
          </mat-error>
        </mat-form-field>
      </div>
    </div>
  </app-admin-edit-section>
  <!-- END Rostrum -->

  <!-- START Body Shape -->
  <app-admin-edit-section class="my-3" header="Body Shape">
    <div class="row">
      <div class="col-md my-1">
        <mat-form-field class="w-100 my-1" color="accent" appearance="fill">
          <mat-label>Body Shape</mat-label>

          <input
            matInput
            type="text"
            aria-label="Body Shape text field."
            formControlName="bodyShape"
          />

          <mat-error>
            Field is required.
          </mat-error>
        </mat-form-field>
        <mat-form-field class="w-100 my-1" color="accent" appearance="fill">
          <mat-label>Description</mat-label>

          <textarea
            matInput
            cdkTextareaAutosize
            cdkAutosizeMinRows="2"
            cdkAutosizeMaxRows="5"
            aria-label="Body Shape Description textarea input."
            formControlName="bodyShapeDescription"
          ></textarea>

          <mat-error>
            Field is required.
          </mat-error>
        </mat-form-field>
      </div>
    </div>
  </app-admin-edit-section>
  <!-- END Body Shape -->

  <!-- START Eyes -->
  <app-admin-edit-section class="my-3" header="Eyes">
    <div class="row">
      <div class="col-md my-1">
        <mat-form-field class="w-100 my-1" color="accent" appearance="fill">
          <mat-label>Eyes</mat-label>

          <mat-select
            aria-label="Eyes selection field."
            formControlName="eyes"
          >
            <mat-option [value]="null">--</mat-option>
            <mat-option [value]="enumSpecimenEyes.None">None</mat-option>
            <mat-option [value]="enumSpecimenEyes.DorsalSingle">Dorsal Single</mat-option>
            <mat-option [value]="enumSpecimenEyes.VentralSingle">Ventral Single</mat-option>
            <mat-option [value]="enumSpecimenEyes.Transformed">Transformed</mat-option>
          </mat-select>

          <mat-error>
            Field is required.
          </mat-error>
        </mat-form-field>
        <mat-form-field class="w-100 my-1" color="accent" appearance="fill">
          <mat-label>Description</mat-label>

          <textarea
            matInput
            cdkTextareaAutosize
            cdkAutosizeMinRows="2"
            cdkAutosizeMaxRows="5"
            aria-label="Eyes Description textarea input."
            formControlName="eyesDescription"
          ></textarea>

          <mat-error>
            Field is required.
          </mat-error>
        </mat-form-field>
      </div>
    </div>
  </app-admin-edit-section>
  <!-- END Eyes-->

  <!-- START Cephalosome -->
  <app-admin-edit-section class="my-3" header="Cephalosome">
    <div class="row">
      <div class="col-md my-1">
        <mat-form-field class="w-100 my-1" color="accent" appearance="fill">
          <mat-label>Cephalosome</mat-label>

          <input
            matInput
            type="number"
            aria-label="Cephalosome number field."
            formControlName="cephalosome"
          />

          <mat-error>
            Field is required.
          </mat-error>
        </mat-form-field>
        <mat-form-field class="w-100 my-1" color="accent" appearance="fill">
          <mat-label>Description</mat-label>

          <textarea
            matInput
            cdkTextareaAutosize
            cdkAutosizeMinRows="2"
            cdkAutosizeMaxRows="5"
            aria-label="Cephalosome Description textarea input."
            formControlName="cephalosomeDescription"
          ></textarea>

          <mat-error>
            Field is required.
          </mat-error>
        </mat-form-field>
      </div>
    </div>
  </app-admin-edit-section>
  <!-- END Cephalosome-->

  <!-- START Thorax -->
  <app-admin-edit-section class="my-3" header="Thorax">
    <div class="row">
      <div class="col-md my-1">
        <mat-form-field class="w-100 my-1" color="accent" appearance="fill">
          <mat-label>Thorax Segments</mat-label>

          <mat-select
            aria-label="Thorax Segments selection field."
            formControlName="thoraxSegments"
          >
            <mat-option [value]="null">--</mat-option>
            <mat-option [value]="enumSpecimenThoraxSegments.Two">2 Segments</mat-option>
            <mat-option [value]="enumSpecimenThoraxSegments.Three">3 Segments</mat-option>
            <mat-option [value]="enumSpecimenThoraxSegments.Four">4 Segments</mat-option>
            <mat-option [value]="enumSpecimenThoraxSegments.FusedFourFive">Fused 4 & 5</mat-option>
          </mat-select>

          <mat-error>
            Field is required.
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-md my-1">
        <mat-form-field class="w-100 my-1" color="accent" appearance="fill">
          <mat-label>Thorax Shape</mat-label>

          <mat-select
            aria-label="Thorax Shape selection field."
            formControlName="thoraxShape"
          >
            <mat-option [value]="null">--</mat-option>
            <mat-option [value]="enumSpecimenThoraxShape.Blunt">Blunt</mat-option>
            <mat-option [value]="enumSpecimenThoraxShape.Saddle">Saddle</mat-option>
            <mat-option [value]="enumSpecimenThoraxShape.TwoPointed">2 Pointed</mat-option>
            <mat-option [value]="enumSpecimenThoraxShape.FourPointed">4 Pointed</mat-option>
          </mat-select>

          <mat-error>
            Field is required.
          </mat-error>
        </mat-form-field>
      </div>
    </div>

    <div class="row">
      <div class="col-md my-1">
        <mat-form-field class="w-100 my-1" color="accent" appearance="fill">
          <mat-label>Description</mat-label>

          <textarea
            matInput
            cdkTextareaAutosize
            cdkAutosizeMinRows="2"
            cdkAutosizeMaxRows="5"
            aria-label="Thorax Description textarea input."
            formControlName="thoraxDescription"
          ></textarea>

          <mat-error>
            Field is required.
          </mat-error>
        </mat-form-field>
      </div>
    </div>
  </app-admin-edit-section>
  <!-- END Thorax -->

  <!-- START Urosome -->
  <app-admin-edit-section class="my-3" header="Urosome">
    <div class="row">
      <div class="col-md my-1">
        <mat-form-field class="w-100 my-1" color="accent" appearance="fill">
          <mat-label>Urosome</mat-label>

          <input
            matInput
            type="number"
            aria-label="Urosome number field."
            formControlName="urosome"
          />

          <mat-error>
            Field is required.
          </mat-error>
        </mat-form-field>
        <mat-form-field class="w-100 my-1" color="accent" appearance="fill">
          <mat-label>Description</mat-label>

          <textarea
            matInput
            cdkTextareaAutosize
            cdkAutosizeMinRows="2"
            cdkAutosizeMaxRows="5"
            aria-label="Urosome Description textarea input."
            formControlName="urosomeDescription"
          ></textarea>

          <mat-error>
            Field is required.
          </mat-error>
        </mat-form-field>
      </div>
    </div>
  </app-admin-edit-section>
  <!-- END Urosome -->

  <!-- START Furca -->
  <app-admin-edit-section class="my-3" header="Furca">
    <div class="row">
      <div class="col-md my-1">
        <mat-form-field class="w-100 my-1" color="accent" appearance="fill">
          <mat-label>Furca</mat-label>

          <mat-select
            aria-label="Furca selection field."
            formControlName="furca"
          >
            <mat-option [value]="null">--</mat-option>
            <mat-option [value]="enumSpecimenFurca.Short">Short</mat-option>
            <mat-option [value]="enumSpecimenFurca.Long">Long</mat-option>
            <mat-option [value]="enumSpecimenFurca.Curved">Curved</mat-option>
          </mat-select>

          <mat-error>
            Field is required.
          </mat-error>
        </mat-form-field>
        <mat-form-field class="w-100 my-1" color="accent" appearance="fill">
          <mat-label>Description</mat-label>

          <textarea
            matInput
            cdkTextareaAutosize
            cdkAutosizeMinRows="2"
            cdkAutosizeMaxRows="5"
            aria-label="Furca Description textarea input."
            formControlName="furcaDescription"
          ></textarea>

          <mat-error>
            Field is required.
          </mat-error>
        </mat-form-field>
      </div>
    </div>
  </app-admin-edit-section>
  <!-- END Furca -->

  <!-- START Setea -->
  <app-admin-edit-section class="my-3" header="Setea">
    <div class="row">
      <div class="col-md my-1">
        <mat-form-field class="w-100 my-1" color="accent" appearance="fill">
          <mat-label>Setea</mat-label>

          <mat-select
            aria-label="Setea selection field."
            formControlName="setea"
          >
            <mat-option [value]="null">--</mat-option>
            <mat-option [value]="enumSpecimenSetea.Shorter">Shorter than Furca</mat-option>
            <mat-option [value]="enumSpecimenSetea.Same">Same as Furca</mat-option>
            <mat-option [value]="enumSpecimenSetea.Longer">Longer than Furca</mat-option>
          </mat-select>

          <mat-error>
            Field is required.
          </mat-error>
        </mat-form-field>
        <mat-form-field class="w-100 my-1" color="accent" appearance="fill">
          <mat-label>Description</mat-label>

          <textarea
            matInput
            cdkTextareaAutosize
            cdkAutosizeMinRows="2"
            cdkAutosizeMaxRows="5"
            aria-label="Setea Description textarea input."
            formControlName="seteaDescription"
          ></textarea>

          <mat-error>
            Field is required.
          </mat-error>
        </mat-form-field>
      </div>
    </div>
  </app-admin-edit-section>
  <!-- END Setea -->
</form>
