<ng-content></ng-content>

<auto-table [data]="selectionData ?? []">
  <ng-container autoColumnDef="options" header="" [sortable]="false" *ngIf="!!adminMenuDirective">
    <ng-container *autoDataCellOverride="let cell">
      <button mat-icon-button [disableRipple]="true" [matMenuTriggerFor]="menu" (click)="$event.stopPropagation()">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <ng-container *adminDataTableMenuOutlet="adminMenuDirective; cell: cell"></ng-container>
      </mat-menu>
    </ng-container>
  </ng-container>

  <ng-container autoColumnDef="select" header="" [sortable]="false">
    <ng-container *autoDataCellOverride="let cell">
      <mat-checkbox
        [checked]="cell.selected"
        [disableRipple]="true"
        (click)="$event.stopPropagation(); $event.preventDefault(); toggleItem(cell)"
      ></mat-checkbox>
    </ng-container>
  </ng-container>

  <ng-container [autoColumnDef]="column.property" [header]="column.title" *ngFor="let column of columns"></ng-container>

  <ng-container autoPaginator>
    <mat-paginator [pageSizeOptions]="[5, 15, 25]"></mat-paginator>
  </ng-container>
</auto-table>
