.mat-header-cell,
.mat-cell,
.mat-footer-cell {
  padding: 10px;
}

.mat-column-options {
  min-width: 40px;
  max-width: 40px;
}

.mat-column-select {
  padding-left: 15px;
  min-width: 40px;
  max-width: 40px;
}
