@use 'sass:map';
@use '~/src/styles/variables' as variables;

.data-row {
  transition: background 150ms ease-in;

  &:hover {
    cursor: pointer;
    background: rgba(0, 0, 0, 0.03);
  }

  &.selected {
    background-color: rgba(0, 0, 0, 0.05);
  }
}

.mat-column-select {
  padding-right: 16px;
  max-width: 16px; // Max-width of checkbox.
}

.mat-column-options {
  max-width: 40px;
}
